.auth-form-container {
  .auth-form-title {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Arial', 'Open-sans', 'sans-serif';
    margin-bottom: 20px;
  }

  .auth-form-container {
    margin-bottom: 40px;
  }
}
