buf.*
Makefile
*.md
sqlc.yaml
build/
Makefile
e2e/
apis/
.vscode/

# web
**/node_modules/
web/build/
web/coverage/
web/.pnp
web/.pnp.js
# web misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
