$green: #4eae53;
$green-shade: #469d4b;
$white: #ffffff;
$blue: #1890ff;
$black: #12130f;
$grey: #494850;

$android-prefix: '-webkit-';
$ios-prefix: '-webkit-';
$chrome-prefix: '-webkit-';
$safari-prefix: '-webkit';
$firefox-prefix: '-moz-';
$opera-prefix: '-o-';
$no-prefix: '';

@mixin support-prefix($name, $value) {
  @each $vendor in ($chrome-prefix, $firefox-prefix, $opera, $no-prefix) {
    #{$vendor}#{$name}: #{$value};
  }
}
