.dash-layout-container {
  display: flex;
  flex: 1;
  align-items: center;
  .dash-top-content {
    max-width: 960px;
    .dash-top-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      min-height: 182px;
      column-gap: 10px;
      row-gap: 10px;
      margin-bottom: 32px;
    }
  }

  .dash-bottom-content {
    width: 100%;
    max-width: 960px;
    padding-bottom: 32px;
  }
}
