@import '../../../common/theme/globals.scss';

.error-screen-container {
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: $grey;
  .error-screen-content {
    width: 100%;
    max-width: 30vw;
    min-width: 400px;
    .error-text-container {
        .error-title {
          text-align: center;
          font-size: 18px;
          font-weight: 800;
          font-family: 'Arial', 'Open-sans', 'sans-serif';
          margin-bottom: 20px;
        }
      
        .error-message {
          text-align: center;
          margin-bottom: 40px;
        }
      }
    .error-footer-container {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        .error-footer-button {
          flex: 1;
          &:first-of-type {
            margin-right: 16px;
          }
        }
      }
      
  }
}
