.select-dropdown-container {
    display: flex;
    align-content: center;
    justify-content: center;
    .label {
        width: 100px;
        text-align: right;
        margin-right: 8px;
        font-size: medium;
    }
    .mb-3 {
        width: 200px;
        margin-bottom: 0px !important;
        text-align: center;
    }
}