@import '../../../common/theme/globals.scss';

.auth-screen-container {
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: $grey;
  .auth-screen-content {
    width: 100%;
    max-width: 30vw;
    min-width: 400px;
  }
}
