@import '../../../common/theme/globals.scss';

.auth-screen-container {
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: $grey;
  .auth-screen-content {
    width: 100%;
    max-width: 30vw;
    min-width: 400px;
    .auth-screen-branding {
      .auth-screen-title {
        margin-top: 20px;
        font-size: 38px;
        font-family: 'Arial', 'Open Sans', sans-serif;
        font-weight: 900;
        color: $grey;
        text-align: center;
        line-height: 1;
      }
    }
  }
}
