@import '../../../common/theme/globals.scss';

.branding {
    .title {
      margin-top: 20px;
      font-size: 38px;
      font-family: 'Arial', 'Open Sans', sans-serif;
      font-weight: 900;
      color: $grey;
      text-align: center;
      line-height: 1;
    }
  }