@import '../../../../common/theme/globals.scss';

.auth-dialog-container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid $black;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;

  .auth-dialog-header {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
  }

  .auth-dialog-body {
    flex: 1;
  }

  .dialog-footer {
    height: 30px;
  }
}
